<div class="page">
  <div class="page__header">
    Filip Koperwas
  </div>

  <div class="tabs">
    <div class="tab-menu">
      <div id="accordian_tab" class="tab-menu__item selected" target="#page1">Accordian</div>
      <div id="graph_tab" class="tab-menu__item" target="#page2">Graph</div>
    </div>
  
    <div class="tab-content " id="page1">
      <div class="card box-shadow">
        <%= render 'components/accordian' %>
      </div>
    </div>
  
    <div class="tab-content hidden" id="page2">
      <div class="card box-shadow">
        page2
      </div>
    </div>
  </div>

</div>
